.game-details-wrapper {
  width: 500px;
  height: 500px;
  background-color: rgb(115, 150, 138);
  border-radius: 4px;
}

h1 {
  color: whitesmoke;
}

.game-details-wrapper p {
  color: rgb(65, 109, 93);
  font-size: 1.2rem;
}

.buttons-wrapper {
  display: flex;
  gap: 8px;
}
